// $colorPrimary: #d8953c;
// $colorSecondary: #d9d9d9;
// $colorDark: #010101;
// $colorWhite: #ffffff;
// $colorGray: #4c4c4c;
// $colorLightGold: #fff8e1;
// $colorLightBlue: #e9f6fb;
// $colorLightGray: #a9a9a9;

$colorGold: #d8953c;
$colorGoldLight: #e7bf8a;
$colorGoldLighter: #fbf4eb;
$colorBlack: #000000;
$colorBlackLight: #666666;
$colorBlackLighter: #e5e5e5;
$colorBlue: #009fc8;
$colorBlueLight: #7fcfe3;
$colorBlueLighter: #e5f5f9;
