@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: all ease 0.5s;
  color: #000000;
}

.common-space {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .common-space {
    padding: 30px 0;
  }
}
@media (max-width: 480px) {
  .common-space {
    padding: 20px 0;
  }
}

.bg-black {
  background-color: #000000;
}

.ptb-20 {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
}

.lead {
  line-height: 2rem;
}

.transition-y {
  transition: all ease 0.5s;
}

.heading {
  padding: 0 0 50px 0;
}

.button {
  padding: 10px 30px;
  font-size: 16px;
  background-color: var(--color-primary-brand);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.btn-primary {
  background-color: #009fc8;
  color: white;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #000000;
  color: #009fc8;
  border: 1px solid #009fc8;
  transition: background-color 0.3s ease;
}

.btn-primary-outline {
  background-color: #000000;
  color: #009fc8;
  border: 2px solid #009fc8;
  transition: background-color 0.3s ease;
}
.btn-primary-outline:hover {
  background-color: #009fc8;
  color: white;
  transition: background-color 0.3s ease;
}

h2 {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 40px;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

h2:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #d8953c;
}

h2:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 30px;
  left: 50%;
  margin-left: -50px;
  background-color: #000000;
}

.top-header-area {
  background-color: #009fc8;
  color: #ffffff;
}
.top-header-area .info-link {
  line-height: 1;
}
.top-header-area .info-link li {
  margin-right: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #e5e5e5;
}
.top-header-area .info-link li a {
  text-decoration: none;
  color: #ffffff;
}
.top-header-area .info-link li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.top-header-area .info-link li i {
  font-size: 16px;
  position: relative;
  margin-right: 5px;
  color: #ffffff;
  transition: all ease 0.5s;
}
.top-header-area .import-link {
  line-height: 1;
}
.top-header-area .import-link li {
  margin-right: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #e5e5e5;
}
.top-header-area .import-link li a {
  text-decoration: none;
}
.top-header-area .import-link li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.navbar .logo {
  width: 100px;
}
.navbar .navbar-nav .nav-item:first-child {
  margin-left: 0;
}
.navbar .navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}
.navbar .navbar-nav .nav-item .nav-link.dropdown-toggle {
  padding-right: 20px;
}
.navbar .navbar-nav .nav-item a.nav-link.active {
  color: #d8953c;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  transition: all ease 0.5s;
  position: relative;
  padding: 14px 0;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
}
.navbar .others-options a {
  text-decoration: none;
}

header.fixed-top {
  background-color: #000000;
  color: #ffffff;
}

.slider-banner::after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 22%);
}

.banner-section .col-12 {
  position: relative;
}
.banner-section .col-12::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 22%);
}

.slider.slider-banner {
  margin-bottom: 0;
}

.slider.slider-banner .slick-dots {
  z-index: 99;
  bottom: 0;
}

.slider.slider-banner .slick-dots li button:before {
  color: #ffffff;
}

.slider.slider-banner .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ffffff;
}

.slider.slider-banner .slick-dots li button:before {
  font-size: 10px;
}

.about {
  background-color: #fbf4eb;
  position: relative;
}

.section-overlay-about {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.12) 5%, rgba(251, 244, 235, 0.1) 10%, rgba(251, 244, 235, 0) 50%, rgba(251, 244, 235, 0.5) 70%, rgb(251, 244, 235) 90%, rgba(251, 244, 235, 0.5) 95%, rgba(251, 244, 235, 0));
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.team {
  margin-top: 30px;
}
.team .team-member-item {
  padding: 20px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.team .team-member-item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #fbf4eb;
  border-radius: 12px;
  z-index: -1;
  transition: all ease 0.5s;
  cursor: pointer;
}
.team .team-member-item .ms-34 {
  margin-left: 34px;
}
.team .team-member-item .mw-100 {
  max-width: 100% !important;
  border-radius: 12px !important;
  box-shadow: none;
  border: none;
  height: auto;
}
.team .team-member-item img {
  max-width: 292px;
  border-radius: 12px;
}
.team .team-member-item .title {
  color: #d8953c;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
.team .team-member-item h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(101, 152, 49, 0.23);
}
.team .team-member-item h3 a {
  text-decoration: none;
  color: #000000;
}
.team .team-member-item ul li {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
}
.team .team-member-item ul li i {
  margin-right: 5px;
}
.team .team-member-item ul li:last-child {
  margin-bottom: 0;
}
.team .team-member-item ul li a {
  text-decoration: none;
  color: #000000;
}
.team .team-member-item ul li a:hover {
  color: #d8953c;
}
.team .team-member-item:hover h3 a {
  color: #d8953c;
  cursor: pointer;
}
.team .team-member-item:hover:before {
  width: 100%;
  right: auto;
  left: 0;
  cursor: pointer;
}

.service {
  background-color: #e5f5f9;
}
.service .section-overlay-service {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.12) 5%, rgba(229, 245, 249, 0.1) 10%, rgba(229, 245, 249, 0) 50%, rgba(229, 245, 249, 0.5) 70%, rgb(229, 245, 249) 90%, rgba(229, 245, 249, 0.5) 95%, rgba(229, 245, 249, 0));
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.service .service-single-item {
  position: relative;
  z-index: 1;
}
.service .service-single-item:hover {
  background-color: #e5f5f9;
  transition: all ease 0.5s;
  cursor: pointer;
}
.service .service-single-item .service-img img {
  border-radius: 12px 12px 0 0;
  height: auto;
  max-width: 100%;
  border: none;
  box-shadow: none;
}
.service .service-single-item .service-content {
  padding: 25px;
  border: 1px solid #e5f5f9;
  border-radius: 0 0 12px 12px;
  transition: all ease 0.5s;
  height: 380px;
}
.service .service-single-item h3 {
  font-size: 22px;
  margin-bottom: 16px;
}
.service .service-single-item h3 a {
  text-decoration: none;
  color: #000000;
}
.service .service-single-item .border-top {
  border-color: #e5f5f9;
  padding-top: 15px;
  margin-top: 25px;
}
.service .service-single-item .list-style li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}
.service .service-single-item .list-style li:last-child {
  margin-bottom: 0;
}
.service .service-single-item .list-style li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #e5f5f9;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  transform: translateY(-50%);
}
.service .service-single-item .list-style li {
  font-weight: 500;
  color: #000000;
}
.service .service-single-item .list-style li::before {
  background-color: #009fc8;
}

.contact .info-single-item {
  padding: 40px;
  margin-bottom: 25px;
}
.contact .info-single-item h3 {
  font-size: 22px;
  font-weight: 800;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(101, 152, 49, 0.23);
}
.contact .info-single-item a {
  color: #000000;
}
.contact .info-single-item ul li {
  margin-bottom: 20px;
}
.contact .info-single-item ul li:last-child {
  margin-bottom: 0;
}
.contact .info-single-item ul li i {
  color: #d8953c;
  font-size: 20px;
}
.contact .info-single-item ul li a {
  text-decoration: none;
  margin-left: 10px;
}
.contact .info-single-item ul li span {
  margin-left: 10px;
}

.slider-client .slick-slide img {
  display: block;
  margin: 0 auto;
}

button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
  width: 52px;
  height: 52px;
  line-height: 62px;
  text-align: center;
  border-radius: 50px;
  background-color: #fff;
}

.slick-next:before,
.slick-prev:before {
  font-size: 22px;
  color: #d8953c;
  display: none;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.slider .slick-arrow.slick-prev {
  left: 20px;
  background-image: url(https://img.icons8.com/ios/50/000000/long-arrow-left.png);
  background-position-x: center;
  background-position-y: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ffffff;
}

.slider .slick-arrow.slick-next {
  right: 20px;
  background-image: url(https://img.icons8.com/ios/50/000000/long-arrow-right.png);
  background-position-x: center;
  background-position-y: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ffffff;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.footer {
  background: #e5f5f9;
}
.footer .footer-single-item .small {
  margin-bottom: 10px;
}
.footer .footer-single-item img {
  width: 150px;
  margin-bottom: 10px;
}
.footer .footer-single-item .footer-link {
  margin-bottom: 10px;
}
.footer .footer-single-item .footer-link a {
  color: #000000;
}
.footer .footer-single-item p {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */